body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f2;
}

#navBar {
    background-color: #060A1C;
    height: 100px;
    position: fixed;
    top:0;
}

#navBar img{
    width: 80px;
}

#navBar a{
    color: #f1f1f2;
    font-size: 20px;
    font-weight: 700;
    text-decoration:none;
}
#navBar a:first-child{
    color: #FEB216;
}

#content{
    margin-top: 130px;
}

#createTableBtn{
    width: 45%;
    max-width: 200px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
}

#createTableBtn:hover {
    background-color: #060A1C;
    color: #FEB216;
    transition: linear .3s;
}

.tables{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    gap: 20px;
    margin-top: 20px;
}

.tables a{
    width: 75%;
} 

.table{
    width: 100%;
    height: 100px;
    background-color: #060A1C;
    color: #FEB216;
    border:none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
}

.table:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transition: linear .3s;

}

@media only screen and (max-width: 850px){
    .table{
        font-size: 12px;
    }

    #titleContainer h1{
        font-size: 24px;
    } 
}

@media only screen and (max-width: 530px){
    .tables{
        grid-template-columns: auto auto auto;
    }

    #titleContainer h1{
        font-size: 16px;
    } 
}

@media only screen and (max-width: 370px){
    .tables{
        grid-template-columns: auto auto;
    }

    #createTableBtn{
        font-size: 12px;
    }
}